<h1>Custom guitars made by me</h1>
    <div class="gallery">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd3AWQVHWNC87Oh43sShGJs3K0Inu813OKLI5g4eFiZcjNMAPbiNDwQ7-YrZHIW_Kazpw&usqp=CAU" alt="Guitar Luthier 1">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRk1DhI6SZxEwUEFld8a7LnpdJu6nMx5oMNr8O33ekac0_b09aHlRCfWoTIDFZ8p0AwBec&usqp=CAU" alt="Guitar Luthier 2">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSFF5EeBnELazNjD6wv89zajA2h24TMTirOA&usqp=CAU" alt="Guitar Luthier 3">
        
    </div>